<p>This is my very first blog post. I will be writing here about tech, life, family, memes, and other random stuff that comes to my mind.</p>
<p>I felt that most blogging platforms are very bloated and clunky, so I decided to make my own. I tried out Ghost, Wordpress, and Medium; which all were very clunky and difficult for me to implement exactly what I wanted. This whole system is open source and renders out based on html files that are in a specific directory.</p>
<p>I get to write basically pure HTML, and out comes a blog post. How rad is that!</p>
<p>I am not a writer, so please forgive me if this is hard to read.</p>
<p>Speaking of bloat, I wrote more about this topic in my post about <a href="/b/0002_cut_out_the_bloat/">cutting out the bloat</a> in web development.</p>
<p>Feel free to checkout my X for more up to date posts.</p>
