amqp==5.3.1
asgiref==3.10.0
beautifulsoup4==4.14.2
billiard==4.2.2
boto3==1.40.54
botocore==1.40.54
celery==5.5.3
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.6
Django==5.2.7
django-allauth==65.12.1
django-celery-beat==2.8.1
django-environ==0.12.0
django-redis==6.0.0
django-storages==1.14.6
django-timezone-field==7.1
flower==2.0.1
gevent==25.9.1
greenlet==3.2.4
gunicorn==23.0.0
humanize==4.14.0
idna==3.11
ImageHash==4.3.2
jmespath==1.0.1
kombu==5.5.4
numpy==2.3.4
oauthlib==3.3.1
packaging==25.0
pillow==12.0.0
playwright==1.55.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
psycopg==3.2.10
psycopg-binary==3.2.10
pyee==13.0.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyWavelets==1.9.0
redis==6.4.0
requests==2.32.5
requests-oauthlib==2.0.0
s3transfer==0.14.0
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
tornado==6.5.2
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
yfinance==0.2.51
zope.event==6.0
zope.interface==8.0.1
Brotli
coverage==7.11.0
tblib==3.1.0
