{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="content">
    <nav id="TOC" role="doc-toc">
        <h2 id="toc-title">Contents</h2>
        <ul class="incremental">
            <li><a href="#about" id="toc-about">About me</a></li>
            <li><a href="#blog" id="toc-blog">Blog</a></li>
            <li><a href="#projects" id="toc-projects">Projects</a></li>
            <li><a href="#books" id="toc-books">Books</a></li>
            <li><a href="#photos" id="toc-photos">Photos</a></li>
        </ul>
    </nav>
    <h2 id="about">About me</h2>
    <p>
        From an early age, I've been passionate about technology and problem-solving. 
        My journey began at 12 when I built my first website, leading to high school 
        robotics championships and bitcoin mining. After a brief stint in computer 
        science at university and a startup venture, I transitioned to government work, 
        automating immigration processes. Seeking new challenges, I moved to a small 
        3PL startup before finding my current role at Pearl Health, where I continue 
        to apply my diverse tech experience in the healthcare sector.
    </p>
    <h2 id="blog">Blog</h2>
    {% if blog_posts %}
        <table class="blog-posts-table">
            <tbody>
                {% for post in blog_posts %}
                    <tr>
                            <td><a href="{% url 'render_blog_template' post.template_name %}">{{ post.blog_title }}</a></td>
                        <td>{{ post.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No blog posts available at the moment.</p>
    {% endif %}

    <h2 id="projects">Projects</h2>
    <p>Coming soon...</p>

    <h2 id="books">Books</h2>
    <p>Coming soon...</p>

    <h2 id="photos">Photos</h2>
    <p>Coming soon...</p>
</div>
{% endblock content %}