<footer class="footer mt-auto py-3 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span>&copy; {% now "Y" %} ActionsUptime. All rights reserved.</span>
      </div>
      
      <div class="col-md-6 text-md-end">
        <a href="{% url 'privacy-policy' %}" class="text-light me-2">Privacy Policy</a>
        <a href="{% url 'terms-of-service' %}" class="text-light me-2">Terms of Service</a>
        <a href="{% url 'support' %}" class="text-light">Support</a>
      </div>
    </div>
  </div>
</footer>