{% load static %}
<img src="{% static 'images/cut_out_the_bloat_lighthouse.png' %}" alt="Cut out the bloat lighthouse" />
<p>Web dev has become such a bloated mess. There are so many frameworks and tools that are all shouting for attention. It's time to cut out the bloat and get back to the basics.</p>

<p>I'm not saying we should all be using just HTML and CSS. That would be ridiculous. But we should at least be aware of what we're putting into our projects. And we should be using the right tool for the job.</p>

<p>For example, there's a lot of talk about using frameworks like React and Vue. And there's nothing wrong with that. But if you're just building a simple website, you don't need all of that. You can do it with just HTML, CSS, and Python.</p>

<p>I am not innocent of this, I have built many bloated applications. But I am trying to cut out the bloat and get back to the basics.</p>

<p>This site is built with Django, could it have been built with a static site generator? Yes. But I wanted to try something new, and I am happy with the results.</p>
