<h1>This Blog Framework Ain't Perfect</h1>

<p>I have been writing with this blog framework that I built for a few days now. It's not perfect, but it's mine.</p>

<p>Why is it not perfect?</p>
<ul>
    <li>I don't like the way the blog posts look on the main page</li>
    <li>I want to be able to add a "featured image" to the top of the blog post</li>
    <li>I want to be able to add a "featured image" to the top of the blog post</li>
    <li>I want to be able to add a "featured image" to the top of the blog post</li>
    <li>I want to be able to add a "featured image" to the top of the blog post</li>
    <li>I want to be able to add a "featured image" to the top of the blog post</li>
</ul>