{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>AaronSpindler.com - {% block title %}{% endblock title %}</title>
  <meta name="description" content="Aaron Spindler's personal website">
  <meta name="author" content="Aaron Spindler">
  {% comment %} <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"> {% endcomment %}

  {% block css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>

<body>
  <table class="header">
    <tr>
      <td colspan="2" rowspan="2" class="width-auto">
        <h1 class="title">AARON SPINDLER</h1>
        <span class="subtitle">An engineer, father, and husband</span>
      </td>
      <th>Github</th>
      <td class="width-min"><a href="https://github.com/aaronspindler">/aaronspindler</a></td>
    </tr>
    <tr>
      <th>X</th>
      <td class="width-min"><a href="https://x.com/aaron_spindler">/aaron_spindler</a></td>
    </tr>
  </table>

  {% block content %}
  {% endblock content %}

  <footer class="footer">
    <br>
    <p>
      &copy; {% now "Y" %} Spindlers. All rights reserved.
    </p>
  </footer>

  {% block javascript %}
  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- Project JS -->
  <script src="{% static 'js/base.js' %}"></script>

  {% endblock javascript %}
</body>

</html>