{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include '_meta.html' %}
  <title>AaronSpindler.com - {% block title %}{% endblock title %}</title>
  
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>

<body>
  {% include '_header.html' %}

  {% block content %}
  {% endblock content %}

  {% include '_footer.html' %}

  {% block javascript %}
  <script src="{% static 'js/base.js' %}"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  {% endblock javascript %}
</body>

</html>