{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include '_meta.html' %}
  <title>AaronSpindler.com - {% block title %}{% endblock title %}</title>
  {% comment %} <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"> {% endcomment %}

  {% block css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>

<body>
  {% include '_header.html' %}

  {% block content %}
  {% endblock content %}

  {% include '_footer.html' %}

  {% block javascript %}
  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <!-- Project JS -->
  <script src="{% static 'js/base.js' %}"></script>

  {% endblock javascript %}
</body>

</html>