{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include '_meta.html' %}
  <title>Aaronspindler.com - {{ blog_title }}</title>
  
  {% block css %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}
</head>

<body>
  {% include '_header.html' %}
  <div class="back-button">
    <a href="{% url 'home' %}#blog">Back</a>
    <br>
  </div>
  <table class="blog-metadata">
    <tr>
      <td colspan="2">{{ blog_title|safe }}</td>
    </tr>
    <tr>
      <th>Times Read</th>
      <td>{{ views }}</td>
    </tr>
  </table>
  {{ blog_content|safe }}
  {% include '_footer.html' %}

  {% block javascript %}
  <script src="{% static 'js/base.js' %}"></script>
  {% endblock javascript %}
</body>

</html>