<header role="banner">
  <table class="header">
    <tr>
      <td colspan="2" rowspan="2" class="width-auto">
        <h1 class="title">AARON SPINDLER</h1>
        <span class="subtitle">An engineer, father, husband, and a proud 🇨🇦</span>
      </td>
      <th scope="row">GitHub</th>
      <td class="width-min"><a href="https://github.com/aaronspindler" rel="noopener noreferrer" target="_blank" aria-label="GitHub profile">/aaronspindler</a></td>
    </tr>
    <tr>
      <th scope="row">X</th>
      <td class="width-min"><a href="https://x.com/aaron_spindler" rel="noopener noreferrer" target="_blank" aria-label="X (Twitter) profile">/aaron_spindler</a></td>
    </tr>
  </table>
</header>